<h3 class="text-center">Registre-se</h3>

<form class="form mt-4">
  <div class="form-group mb-3">
    <input type="email" name="email" id="email"
           class="form-control" placeholder="example@example.com">
  </div>
  <div class="form-group mb-3">
    <input type="text" name="nome" id="nome"
           class="form-control" placeholder="Nome completo">
  </div>
  <div class="form-group mb-3">
    <input type="text" name="usuario" id="usuario"
           class="form-control" placeholder="login">
  </div>
  <div class="form-group mb-3">
    <input type="password" name="senha" id="senha"
           class="form-control" placeholder="Senha">
  </div>
  <div class="d-grid gap-2 mb-3">
    <button class="btn btn-primary btn-block">Cadastro</button>
  </div>
</form>

<!--<p>já cadastrado? <a routerLink="/home">Login</a></p>-->
<p>já cadastrado? <a routerLink="">Login</a></p>

