<main class="bg-white border container" *ngIf="animal$ |  async as animal">
  <section class="row">
    <div class="col-lg-8 col-md-8">
      <app-animal [url]="animal.url" [descricao]="animal.description"></app-animal>
    </div>
    <div class="col-lg-4 col-md-4 d-flex flex-column">
      <small class="mb-3">
        <p class="text-left text-break">{{animal.description}}</p>
        <i (click)="likePhoto()"
           class="fa fa-heart-o mr-2 fa-2x pull-left">{{animal.likes}}</i>
        <i class="fa fa-comment-o mr-2 fa-2x pull-left">{{animal.comments}}</i>
        <i (click)="deletePhoto()"
           class="fa fa-trash-o fa-2x pull-right"></i>
      </small>
      <app-comentarios
        [idAnimal]="animalId"
        *ngIf="animal.allowComments; else warning"
      ></app-comentarios>
      <ng-template #warning>
        <p class="text-center">Comentários desabilitado para esta foto</p>
      </ng-template>
    </div>
  </section>
</main>
